*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #00788A;
    font-size: 2em;
}

.container{
    /* border: 2px solid; */
    width: 80%;
    height: 90vh;
    margin: 30px auto 0;
    /* background-color: #fff; */
    position: relative;
}
.image{
    /* border: 2px solid; */
    width: 80%;
    height: 80%;
    margin: 30px auto 0;
    position: relative;
    box-shadow: 2px 2px 4px  ;
    /* transform: scale(0.5); */
}

.img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.active{
    opacity: 1;
}

.commande{
    border: 2px solid;
    /* position: relative; */
}

.s{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    box-shadow: 2px 2px 4px ;
    cursor: pointer;
}

.precedent{
    left: 12rem;
}

.suivant{
    left: 65rem; 
}

i{
    pointer-events: none;
}

.ronds{
    /* border: 2px solid; */
    /* background-color: #00788A; */
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#028ea4;
    transition: all 0.2s ease-in-out;

}

.rond-active{
    background-color: #00508a88;
    color: #fff;
    transform: scale(1.2);
}

.rond{
    /* border: 2px solid; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    cursor: pointer;
}

p{
    pointer-events: none;
}
